@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  font-size: 62.5%;

  --clr-brand: #FFA634;
  --clr-dark10: #121214;
  --clr-dark20: #181818;
  --clr-dark30: #a8a8a8;
  --clr-light: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;

  color: var(--clr-light);
}

body {
  background-color: var(--clr-dark10);
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 0 6.4rem;
  min-height: 6.4rem;
}

header img {
  height: 3.2rem;
}

@media (min-width: 1024px) {
  header {
    height: 11.2rem;
  }
}